@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Zilla+Slab:wght@400;600&display=swap');

:root {
    --color1: rgb(0, 0, 0);
    --color2: rgb(89, 103, 83);
    --color3: rgb(255, 255, 255);
}
  

h1{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 4em;
    color: var(--color1);
}

body{
    background-color: var(--color3);
    font-family: 'Open Sans', sans-serif;

}


.square {
    width: 100px;
    height: 100px;
    background-color: #f10a0a; /* Change this to your desired background color */
    border: 1px solid black;
  }
