{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
<script>
  window.onload = function() {
      var squares = document.querySelectorAll('.square');
      var colorpickerHolder = document.getElementById('colorpickerHolder');
  
      squares.forEach(function(square) {
          square.addEventListener('click', function() {
              colorpickerHolder.style.display = 'block';
          });
      });
  };
  </script>

<style>
  #colorpickerHolder {
    display: none;
  }
  </style>
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(165, 1fr);
  }
  .square {
    width: 10px;
    height: 10px;
    background-color: rgb(241, 10, 10); /* Initial background color */
    border: 1px solid black; /* Add this line */
  }
#colorpickerHolder {
  display: none;
}
  </style>
<h1>My App</h1>
<div id="colorpickerHolder"></div>
<div class="grid">
  {% for row in grid %}
    {% for tile in row %}
    <div class="square" style="background-color: rgb({{ tile.r }}, {{ tile.g }}, {{ tile.b }})"></div>
    {% endfor %}
</div>

<a href="{% url 'myapp:leaderboard' %}">View Leaderboard</a>

{% endblock %}
<script>
  var rgb = {
    r: $(cal).data('colorpicker').fields.eq(1).val(),
    g: $(cal).data('colorpicker').fields.eq(2).val(),
    b: $(cal).data('colorpicker').fields.eq(3).val()
};
console.log("Hi");
document.getElementById('rgbValues').textContent = 'Red: ' + rgb.r + ', Green: ' + rgb.g + ', Blue: ' + rgb.b;
</script>
<p id="rgbValues"></p>
{% endblock %}
