{% extends "myapp/base.html" %}

{% block content %}
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
  }
  .square {
    width: 25px;
    height: 25px;
    background-color: rgb(241, 10, 10); /* Initial background color */
    border: 1px solid black; /* Add this line */
  }
  </style>
<h1>My App</h1>
<p id="colorpickerHolder"></p>
<div class="grid">
  {% for row in grid %}
    {% for tile in row %}
      <div class="square" style="background-color: rgb({{ tile.r }}, {{ tile.g }}, {{ tile.b }})"></div>
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}